

body {
    background-color: black;
    color: blue;
    font-family: "EB Garamond", sans-serif;
    margin: 0px;
    align-items: center;
    justify-content: center;
    font-size: large;
}

header {
    border-bottom: solid 2px rgb(42, 122, 288);
    padding: 20px;
    font-size: 50px;
    color: rgb(42, 122, 228);
    font-family: "EB Garamond", sans-serif;
}

main {
    background-color: darkblue;
    color: white;
    font-family: "EB Garamond", sans-serif;
    padding: 10px;
    padding-bottom: 50px;
    padding-top: 50px;
    justify-content: center;
    margin: 8px;
    flex-direction: column;
    text-align: center;
    max-width: 90%;

}

h1 {
    background: black;
    display: inline-flex;
    color: indigo;
    margin: 0px;

}

button {
    background-color: black;
    color: white;
    font-family: "EB Garamond", sans-serif;
    font-size: 20px;
    align-items: center;
    justify-content: center;

}

img {
    padding-top: 30px;
    max-width: 90%;
    max-height: 20%;
}

.passo {
    display: none;

}

.passo.ativo {
    display: block;
    font-size: 30px
}
